// Bootstrap library.
@import 'bootstrap.less';
@import 'variables.less';

// EQUAL HEIGHT
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	div {
		&[class*='col-'] {
			margin:-.2px;
			// display: flex;
			// flex-direction: column;
		}
	}
}

// THUMBNAILS
.thumbnail-theme {
	overflow: hidden;
	background: @white;
	border-radius: 0;
	padding: 0;
	// display: flex;
	display: block;
	margin-bottom: 20px;
	// img {
	// 	margin: auto;
	// }
}

.acf-map {
	min-height: 400px;
	margin-bottom: 40px;
}

// PADDING AND MARGIN
.pt-sm {
	padding-top: 30px;
}
.pt-md {
	padding-top: 60px;
}
.pt-lg {
	padding-top: 80px;
}
.pb-sm {
	padding-bottom: 30px;
}
.pb-md {
	padding-bottom: 60px;
}
.pb-lg {
	padding-bottom: 80px;
}

// ARCHIVE ACCORDION
.archive {
	margin: 0;
	padding: 0;
	list-style: none;
	.archive-year {
		margin: 0;
		padding: 5px 0;
		list-style: none;
		font-size: 14px;
		a {
			.font-weight400;
			.color-secondary;
			&:after {
				content: "\e259";
				font-family: 'Glyphicons Halflings';
			    font-style: normal;
			    -webkit-font-smoothing: antialiased;
			    font-size: 14px;
			    color: @brand-primary;
			    margin-left: 20px;
			    float: right;
			}
		}
		&.parent-open {
			a {
				.color-secondary;
				//.color-primary;
				&:after {
					content: "\e260";
				}
			}
		}
	}
	.archive-month {
		margin: 0;
		padding: 10px;
		list-style: none;
		font-size: 12px;
		display: none;
		a {
			.font-weight300;
			.color-black;
			padding-bottom: 2px;
			&:after {
				display: none;
			}
		}
		&.open {
			display: block;
			a {
				.color-black;
			}
		}
	}
}

// PAGINATION
.pagination {
	a,
	span {
		display: inline-block;
		padding: 5px  10px;
		.color-white;
		.bkg-color-secondary;
		&.current {
			.bkg-color-primary;
		}
		&.prev,
		&.next {
			background-color: #b5b5b5;
		}
	}
	a {
		.color-white;
	}
	span {

	}
}
.pagination-paged {
	font-size: 18px;
	color: @brand-secondary;
}

// SITEMAP
.page-template-page-sitemap {
	.menu-item-707 {
		display: none;
	}
}

// MODIFIERS
.thumbnail-theme--pm {
	padding: 5px;
	border: 1px solid @gray-border;
}
.thumbnail-theme--image {
	border: 1px solid @gray-border;
}
.thumbnail-theme--logo {
	min-height: 210px;
    max-height: 210px;
	border: 1px solid @gray-border;
	display: flex;
	img {
		margin: auto;
		width: 100%;
	}
}
.thumbnail-theme--listing3col {
	border: none;
	margin-bottom: 0;
	min-height: 170px;
    max-height: 170px;
    display: flex;
    img {
    	margin: auto;
    	width: 100%;
    	// max-width: 80%;
    }
}
.thumbnail-theme--listing4col {
	border: none;
	margin-bottom: 0;
	min-height: 205px;
    max-height: 205px;
    display: flex;
    img {
    	margin: auto;
    	width: 100%;
    	// max-width: 80%;
    }
}
.thumbnail-theme--borderonly {
	max-height: 100%;
	border: 1px solid @gray-border;
	background: @white;
	width: fit-content;
}


// PRINT STYLES
@media print {
	.pt-sm,
	.pt-md,
	.pt-lg {
		padding-top: 10px;
	}
	.pb-sm,
	.pb-md,
	.pb-lg {
		padding-bottom: 10px;
	}
	a[href]:after {
	    content:'';
	 }
	.btn-play,
	.btn-theme--primary,
	.btn-theme--white,
	.resource,
	.social {
		display: none;
	}
	.thumbnail-theme--listing3col,
	.thumbnail-theme--listing4col {
	    	margin-right: 4%;
	    	width: 28%;
	    	float: left;
	}
}

@media (max-width:@screen-xs-max) {
	.pull-right {
	    float: left!important;
	}
	.thumbnail-theme {
		min-height: auto;
	    max-height: none;
	    display: block;
	}
	.thumbnail-theme--listing {
		margin-bottom: 40px;
		min-height: auto;
	    max-height: none;
	}
	.thumbnail-theme--logo {
		min-height: auto;
	    max-height: none;
	}
	.pt-sm,
	.pt-md,
	.pt-lg {
		padding-top: 40px;
	}
	.pb-sm,
	.pb-md,
	.pb-lg {
		padding-bottom: 40px;
	}
}

@media (min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
	.col-sm-1:nth-child(12n+1),
	.col-sm-2:nth-child(6n+1),
	.col-sm-3:nth-child(4n+1),
	.col-sm-4:nth-child(3n+1),
	.col-sm-6:nth-child(2n+1){
		clear: left;
	}
	.thumbnail-theme {
		min-height: auto;
	    max-height: none;
	    display: block;
	}
	.thumbnail-theme--listing {
		margin-bottom: 40px;
		min-height: auto;
	    max-height: none;
	}
	.thumbnail-theme--logo {
		min-height: 130px;
	    max-height: none;
	}
}

@media (min-width:@screen-md-min) and (max-width:@screen-md-max) {
	.col-md-1:nth-child(12n+1),
	.col-md-2:nth-child(6n+1),
	.col-md-3:nth-child(4n+1),
	.col-md-4:nth-child(3n+1),
	.col-md-6:nth-child(2n+1) {
		clear: left;
	}

}

@media (min-width:@screen-lg-min) {
	.col-lg-1:nth-child(12n+1),
	.col-lg-2:nth-child(6n+1),
	.col-lg-3:nth-child(4n+1),
	.col-lg-4:nth-child(3n+1),
	.col-lg-6:nth-child(2n+1){
		clear: left;
	}
	// .col-lg-3 {
	// 	max-width: 24.9%; // SAFARI FIX ?
	// }
	// .col-lg-4 {
	// 	max-width: 32.93333333%; // SAFARI FIX ?
	// }
}