// MODULE

// PLAY
.btn-play {
	.transition-fade;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid @gray-white;
	border-radius: 40px;
	height: 40px;
	width: 40px;
	font-size: 0;
	&:hover {
		background-color: rgba(255, 255, 255, 0.8);
	}
	&:before {
		content: "\e258";
		font-family: 'Glyphicons Halflings';
	    font-style: normal;
	    -webkit-font-smoothing: antialiased;
	    font-size: 14px;
	    color: @white;
	}
}

// BUTTON LINK
.btn-theme {
	.transition-fade;
	.font-weight700;
	font-size: 14px;
	line-height: 18px;
	font-family: @font-family;
	white-space: normal;
	border-radius: 0;
	margin: 10px 0;
	box-shadow: none;
	&:hover,
	&:active,
	&:focus {
		box-shadow: none;
		outline: none;
		background-color: transparent;
	}
	&:first-child {
		margin-top: 0;
	}
}

// TEXT LINK 
.link-theme {
	.transition-fade;
	.font-weight700;
	font-size: 14px;
	line-height: 18px;
	font-family: @font-family;
}

// PROVEK WAY
.panel-calltoaction {
	overflow: hidden;
	position: relative;
	height: 95%;
	margin-bottom: 5%;
	padding-bottom: 50px;
	.panel-calltoaction__btn {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

// POST LISTING BLOCK
.post-link {
	.transition-fade;
	border: 1px solid @gray-border;
	height: 95%;
	margin-bottom: 5%;
	width: 100%;
	overflow: hidden;
	position: relative;
	.bkg-color-white;
	&:hover {
		.thumbnail-theme {
			.bkg-color-white;
		}
		.bkg-color-primary;
		.color-white;
		.post-link__inner,
		.post-link__title,
		.post-link__body,
		.post-link__view,
		.post-link__btn {
			.color-white;
		}
	}
	.post-link__inner {
		border-top: 1px solid @gray-border;
		padding: 20px 20px 60px 20px;
	}
	.post-link__title {
		.heading-h7;
		.color-secondary;
	}
	.post-link__body {
		.color-black;
	}
	.post-link__view {
		.link-theme;
		.color-primary;
	}
	.post-link__btn {
		.font-weight700;
		padding: 15px 20px;
		float: left;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		.color-primary;
	}
	.post-link__link {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 20;
	}
}

// BOX CALL TO ACTION
.calltoaction {
	.transition-fade;
	.bkg-color-primary;
	margin-top: 20px;
	position: relative;
	width: 100%;
	overflow: hidden;
	.calltoaction__title {
		.heading-h7;
		.color-white;
		padding: 20px 0 10px 0;
		margin: 0 15px;
	}
	.calltoaction__keyline {
		border-bottom: 1px solid @gray-white;
		margin-bottom: 1em;
	}
	.calltoaction__body {
		.color-white;
		margin: 0 15px 20px 15px;
	}
	.calltoaction__email {
		.color-white;
		margin: 0 15px 10px 15px;
		overflow-wrap: break-word;
		word-wrap: break-word;
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
		a {
			&:hover {
				opacity: 0.5;
				.color-white;
			}
		}
	}
	.calltoaction__telephone {
		.color-white;
		text-align: right;
		font-size: 20px;
		margin: 0 15px 20px 15px;
		a {
			&:hover {
				opacity: 0.5;
				.color-white;
			}
		}
	}
	.calltoaction__download-btn {
		float: right;
		margin-right: 15px;
	}
	.calltoaction__btn {
		float: right;
		margin-top: 20px;
		margin-right: 15px;
	}
}

/* THE PM CHANNEL */
.box-calltoaction {
	.transition-fade;
	height: 95%;
	position: relative;
	margin-bottom: 5%;
	padding-bottom: 50px;
	width: 100%;
	overflow: hidden;
	.bkg-color-primary;
	&:hover {
		.bkg-color-secondary;
	}
	.box-calltoaction__title {
		.heading-h2;
		.color-white;
		padding: 20px 0 25px 0;
		margin: 0 15px;
		position: relative;
		span {
			.font-weight400;
			font-size: 14px;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	.box-calltoaction__body {
		.color-white;
		margin: 0 15px 20px 15px;
		ul {
			.dashed;
			li {
			  	&:before {
			  		.color-white;
				}
			}
		}
	}
	.box-calltoaction__btn {
		.font-weight700;
		.color-white;
		padding: 15px;
		float: left;
		background-color: rgba(0, 0, 0, 0.1);
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.box-calltoaction__link {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 20;
	}
}

// CATEGORY BUTTONS 
.category-calltoaction {
	.transition-fade;
	height: 95%;
	min-height: 120px; // STARTING POINT - FLEX PUTS ALL ELEMENTS ONTO ONE ROW http://getbootstrap.com.vn/examples/equal-height-columns/
	margin-top: 0;
	margin-bottom: 5%;
	position: relative;
	width: 100%;
	overflow: hidden;
	.bkg-color-secondary;
	&:hover {
		.bkg-color-primary;
	}
	.category-calltoaction__title {
		.heading-h7;
		.color-white;
		padding: 20px 0 40px 0;
		margin: 0 15px;
		&:after {
			clear: both;
			content: url('../images/arrow.png');
		    display: block;
		    position: absolute;
		    bottom: 12px;
		}
	}
	.category-calltoaction__desctitle {
		.heading-h2;
		.color-white;
		padding: 20px 0 10px 0;
		margin: 0 15px;
	}
	.category-calltoaction__body {
		.color-white;
		padding: 15px 15px 20px 15px;
		margin-bottom: 0;
		strong {
			&:after {
				margin-left: 10px;
				content: url('../../dist/images/arrow.png');
			}
		}
	}
	.category-calltoaction__link {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 20;
	}
}

// MODIFIERS

// CLIENTS
.calltoaction--client {
	.bkg-color-secondary;
	height: 95%;
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 5%;
	padding-bottom: 20px;
	.calltoaction__client {
		.color-white;
		margin: 0 15px 2px 15px;
		display: block;
	}
}

// SHOP
.post-link--shop {
	&:hover {
		.post-link__btn {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
	.post-link__btn {
		.color-white;
		background-color: @brand-secondary;
	}
}

// BUTTON LINK
.btn-theme--primary {
	color: @white;
	border-color: @brand-primary;
	background-color: @brand-primary;
	&:hover,
	&:focus {
		color: @brand-primary;
		border-color: @brand-primary;
		background-color: @white;	
	}
}
.btn-theme--secondary {
	color: @white;
	border-color: @brand-secondary;
	background-color: @brand-secondary;
	&:hover,
	&:focus {
		color: @brand-secondary;
		border-color: @brand-secondary;
		background-color: @white;	
	}
}
.btn-theme--white {
	color: @brand-primary;
	border-color: @white;
	background-color: @white;
	&:hover,
	&:focus {
		color: @white;
		border-color: @white;
		background-color: transparent;	
	}
}


// TEXT LINK 
.link-theme--primary { 
	color: @brand-primary;
	&:hover,
	&:focus {
		color: @brand-secondary;	
	}
}
.link-theme--secondary { 
	color: @brand-secondary;
	&:hover,
	&:focus {
		color: @brand-primary;	
	}
}

// PRINT STYLES
@media print {
	/* THE PM CHANNEL */
	.box-calltoaction {
		height: auto;
		margin-bottom: 0;
		padding-bottom: 0;
		.box-calltoaction__title {
			padding: 0;
			margin: 0;
			span {
				position: relative;
			}
		}
		.box-calltoaction__body {
			margin: 0;
		}
		.box-calltoaction__btn {
			display: none;
		}
		.box-calltoaction__link {
			display: none;
		}
	}

	// POST LISTING BLOCK
	.post-link {
		padding-bottom: 10px;
		border: none;
		height: auto;
		margin-bottom: 0;
		.post-link__inner {
			border-top: none;
			padding: 0;
			width: 68%;
			float: left;
		}
		.post-link__btn {
			display: none;
		}
		.post-link__link {
			display: none;
		}
	}

	.calltoaction {
		// display: none;
		.calltoaction__title {
		    padding: 0;
		    margin: 0;
		}
		.calltoaction__body {
			margin: 0;
		}
	}

	// CLIENTS
	.calltoaction--client {
		height: auto;
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
		.calltoaction__title,
		.calltoaction__client {
			.color-black;
			margin: 0;
		}
	}

	// CATEGORY BUTTONS 
	.category-calltoaction {
		height: auto;
		min-height: 10px;
		margin-top: 0;
		margin-bottom: 0;
		.category-calltoaction__title {
			padding: 0;
			margin: 0;
			&:after {
				display: none;
			}
		}
		.category-calltoaction__desctitle {
			.heading-h4;
			padding: 0;
			margin: 0;			
		}
		.category-calltoaction__body {
			padding: 0;
			margin-bottom: 0;
			strong {
				display: none;
				&:after {
					display: none;
				}
			}
		}
	}
	// PROVEK WAY
	.panel-calltoaction {
		height: auto;
		margin-bottom: 0;
		padding-bottom: 0;
		.panel-calltoaction__btn {
			display: none;
		}
		h3 {
			width:100%;
		}
		.thumbnail-theme {
			margin-right: 4%;
		}
		.thumbnail-theme,
		p {
			width: 48%;
			float: left;
			display: inline-block;
		}
	}
}



@media (max-width:@screen-xs-max) {
	.panel-calltoaction {
		height: auto;
		.panel-calltoaction__btn {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	// BUTTON LINK
	.btn-theme {
		margin: 0 0 20px 0;
	}
	.category-calltoaction {
		min-height: 10px; 
	}
}

@media (min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
	// BUTTON LINK
	.btn-theme {
		margin: 0 0 20px 0;
	}
}

@media (min-width:@screen-md-min) and (max-width:@screen-md-max) {
}

@media (min-width:@screen-lg-min) {
}

&[data-useragent*='Firefox']
{
body
	{

	}
}
&[data-useragent*='rv:11.0']
{
	body
	{

	}
}
// IE10 cross-browser development
&[data-useragent*='MSIE 10.0'] 
{
	.btn-play {
		margin: 180px auto 0 auto;
	}
}