// MODULE
.carousel-block {
	position: relative;
	//ELEMENTS
	.carousel-block__inner {
		margin: 0;
		padding: 0;
		position: relative;
	}
	.carousel-block__item {
		background-size: cover;
		background-position: center;
		// .row {
		// 	min-height: 500px;
		// 	display: -webkit-box;
		// 	display: -moz-box;
		// 	display: -ms-flexbox;
		// 	display: -webkit-flex;
		// 	display: flex;

		// 	-ms-flex-align-items: center;
		// 	-webkit-align-items: center;
		// 	align-items: center;
		// }
	}

}

// CAROUSEL CONTROLS

// .btn-default:focus, .btn-default.focus {
//     color: #333333;
//     background-color: #e6e6e6;
//     border-color: #8c8c8c;
// }

.carousel-block__btn {
	font-size: 0;
	border-radius: 0;
	margin: 0;
	padding: 0;
	border: none;
	box-shadow: none;
	&:hover,
	&:active,
	&:focus,
	&.focus {
		color: @brand-primary;
		box-shadow: none;
		outline: none;
		background-color: transparent!important;
		border: none;
	}
	&:first-child {
		margin-top: 0;
	}
}
.carousel-block__btn-left,
.carousel-block__btn-right {
	z-index: 10;
	background: transparent;
	// &:before {
	// 	.font-weight300;
	// 	position: relative;
	//     display: inline-block;
	//     font-family: 'Glyphicons Halflings';
	//     font-style: normal;
	//     -webkit-font-smoothing: antialiased;
	//     font-size: 24px;
	// }
}
// .carousel-block__btn-left {
// 	&:before {
// 		// content: "\e257";
// 		content: url('../../dist/images/2px_arrow_left_white.png');
// 		&:hover {
// 			content: url('../../dist/images/2px_arrow_left_pink.png');
// 		}
// 	}
// }
// .carousel-block__btn-right {
// 	&:before {
// 		content: url('../../dist/images/2px_arrow_right_white.png');
// 		&:hover {
// 			content: url('../../dist/images/2px_arrow_right_pink.png');
// 		}
// 		// content: "\e258";
// 	}
// }


// MODIFIERS

// FADE
.carousel-block--fade {
	.carousel-block__inner {
		.carousel-block__item {
			opacity: 0;
			.transition(.3s ease-in-out opacity);
			&.active {
				opacity: 1;
				&.left,
				&.right {
					left: 0;
					opacity: 1;
					z-index: 1;
				}
				&.next,
				&.prev {
					&.left,
					&.right {
						opacity: 1;
					}
				}
			}
		}
	}
}

// HOMEPAGE TOP CAROUSEL
.carousel-block--homepage {
	.section {
		height: 780px;
		// height: calc(90vh);
		// min-height: 90%;
		.container {
		height: 100%;
			.row {
				height: 100%;
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-ms-flex-align-items: center;
				-webkit-align-items: center;
				align-items: center;
				text-align: center;
				.heading-keyline {
					padding-bottom: 0.4em;
					margin-bottom: 0.5em;
					// border-bottom: 1px solid @gray-white;
				}
			}
		}
		&.section--overlay {
			.overlay--opacity {
				background-color: #1F1F3A;
			}
		}
	}
	.carousel-block__btn {
		width: 20px;
		height: 25px;
		display: block;
		position: absolute;
		bottom: 50px;
	}
	.carousel-block__btn-left {
		left: 48%;
		&:before {
			// content: "\e257";
			content: url('../../dist/images/2px_arrow_left_white.png');
		}
		&:hover {
			&:before {
				content: url('../../dist/images/2px_arrow_left_pink.png');
			}
		}
	}
	.carousel-block__btn-right {
		right: 48%;
		&:before {
			content: url('../../dist/images/2px_arrow_right_white.png');
			// content: "\e258";
		}
		&:hover {
			&:before {
				content: url('../../dist/images/2px_arrow_right_pink.png');
			}
		}
	}	
}


// GENERIC CAROUSEL
.carousel-block--generic {
	.carousel-block__btn {
		width: 15px;
		height: 20px;
		display: block;
		position: absolute;
		top: -48px;
	}
	.carousel-block__btn-left {
		right: 40px;
		&:before {
			// content: "\e257";
			content: url('../../dist/images/1px_arrow_left_pink.png');
		}
		&:hover {
			&:before {
				content: url('../../dist/images/1px_arrow_left_blue.png');
			}
		}
	}
	.carousel-block__btn-right {
		right: 15px;
		&:before {
			content: url('../../dist/images/1px_arrow_right_pink.png');
			// content: "\e258";
		}
		&:hover {
			&:before {
				content: url('../../dist/images/1px_arrow_right_blue.png');
			}
		}
	}
}

// PRINT STYLES
@media print {
	.carousel-block__btn {
		display: none;
	}
	#homepageCarousel {
		display: none;
	}
}


@media (max-width:@screen-xs-max) {
	// HOMEPAGE TOP CAROUSEL
	.carousel-block--homepage {
		.section {
			// height: calc(100vh);
			height: 500px;
		}
		.carousel-block__btn-left {
			left: 32%;
			bottom: 25px;
		}
		.carousel-block__btn-right {
			right: 32%;
			bottom: 25px;
		}
	}
}

@media (min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
	// HOMEPAGE TOP CAROUSEL
	.carousel-block--homepage {
		.section {
			// height: calc(100vh);
			height: 700px;
		}
		.carousel-block__btn-left {
			left: 46%;
			bottom: 25px;
		}
		.carousel-block__btn-right {
			right: 46%;
			bottom: 25px;
		}
	}
}

@media (min-width:@screen-md-min) and (max-width:@screen-md-max) {
	// HOMEPAGE TOP CAROUSEL
	.carousel-block--homepage {
		.carousel-block__btn-left {
			left: 46%;
		}
		.carousel-block__btn-right {
			right: 46%;
		}
	}
}

@media (min-width:@screen-lg-min) {
}

&[data-useragent*='Firefox']
{
body
	{

	}
}
&[data-useragent*='rv:11.0']
{
	body
	{

	}
}
// IE10 cross-browser development
&[data-useragent*='MSIE 10.0'] 
{
body
	{
		
	}
}
