// MODULE
.accreditation {
	max-height: 100px;
	display: flex;
	img {
		margin: auto;
	}
}

.social {
	max-width: 30px;
	max-height: 30px;
	float: right;
	img {
		padding-left: 8px;
	}
}

.resource {
	a,
	div {
		float: left;
		margin-right: 25px;
		color: @white;
		a {
			margin-right: 0;
		}
	}
	a:hover {
		color: @brand-secondary;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			&:before {
				content: '|';
			    margin: 0 10px;
			    float: left;
			    font-size: 9px;
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
		}
	}
}

// MODIFIERS

@media (max-width:@screen-xs-max) {
	.social {
		float: left;
		margin-top: 10px;
		img {
			padding-right: 8px;
			padding-left: 0;
		}
	}
	.resource {
		a,
		div {
			float: left;
			width: 100%;
		}
		ul {
			li {
				float: left;
				width: 100%;
				display: block;
				&:before {
					display: none;
				}
			}
		}
	}
}

@media (min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
	.social {
		float: left;
		margin-top: 10px;
		img {
			padding-right: 8px;
			padding-left: 0;
		}
	}
}

@media (min-width:@screen-md-min) and (max-width:@screen-md-max) {
}

@media (min-width:@screen-lg-min) {
}

&[data-useragent*='Firefox']
{
	body
	{

	}
}
&[data-useragent*='rv:11.0']
{
	body
	{

	}
}
// IE10 cross-browser development
&[data-useragent*='MSIE 10.0'] 
{
	body
	{
		
	}
}