// PLACEHOLDERS
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	.color-secondary;
}
::-moz-placeholder { /* Firefox 19+ */
	.color-secondary;
}
:-ms-input-placeholder { /* IE 10+ */
	.color-secondary;
}
:-moz-placeholder { /* Firefox 18- */
	.color-secondary;
}

// MODULE
.form-block {
	.bkg-color-secondary;
	padding: 15px 15px 10px 15px;
	//ELEMENTS
	.form-block__input,
	.form-block__select {
		.color-secondary;
		.bkg-color-white;
		.font-weight400;
		width: 100%;
		// line-height: 40px;
		min-height: 40px;
		font-size: 14px;
		line-height: 18px;
		padding: 10px;
		margin: 8px 0;
		border: none;
	}
	option {
		.color-secondary;
		.bkg-color-white;
	}
	textarea {
		max-height: 100px;
	}
	label {
		display: block;
		font-size: 12px;
		line-height: 30px;
		.color-white;
		.font-weight300;
	}
	input[type="submit"] {
		.btn-theme;
		color: @white;
		border-color: @brand-primary;
		background-color: @brand-primary;
		border-width: 1px;
    	border-style: solid;
    	padding: 6px 12px;
    	margin: 0;
    	width: 100%;
		.transition-fade;
		&:hover,
		&:focus {
			color: @brand-primary;
			border-color: @brand-primary;
			background-color: @white;	
		}
	}
	// CONTACT FORM SEVEN
	.wpcf7-list-item {
	    margin: 0 10px 10px 0;
		display: inline-block;
	    font-size: 12px;
	    line-height: 30px;
	    color: #ffffff;
	    font-weight: 300;
	    .color-white;
	}
	.wpcf7-not-valid-tip {
		.color-white;
	}
}

div {
	&.wpcf7-response-output {
		margin: 0;
		padding: 0;
	}
	&.wpcf7-mail-sent-ok {
		.heading-h4;
		.color-secondary;
		border: 0;
	}
	&.wpcf7-validation-errors {
		border: 0;
		padding: 0;
		margin: 20px 0;
		color: @brand-primary;
	}
}

// MODIFIERS

// NAVIGATION
.form-block--nav-search {
    position: absolute;
    left: 0;
    top: 110px;
    display: none;
    z-index: 100;
	label {
		display: none;
		font-size: 0;
	}
	&.search-open {
		display: block;
		width: 100%;
		label {
			font-size: 0;
		}
		form {
			max-width: 1140px;
			margin: 0 auto;
		}
	}
}
.form-block--newsletter {
	background-color: transparent;
	padding: 0;
	ul {
		width: 100%;
		margin: 0;
		padding: 0;
		li {
			display: block;
		}
	}
	input,
	select {
		.color-secondary;
		.bkg-color-white;
		.font-weight400;
		width: 100%;
		line-height: 40px;
		min-height: 40px;
		font-size: 14px;
		padding: 0 10px;
		border: none;
		border: 1px solid @gray-border;		
	}
	.form-block--newsletter-group {
		margin-bottom: 8px;
	}
	#mce-error-response,
	#mce-success-response {
		margin: 8px 0;
	}
	#mce-success-response {
		.color-secondary;
	}
	#mce-error-response {
		.color-primary;
	}
	.mce_inline_error {
		.color-primary;
		font-style: italic;
	}
	#mc-embedded-subscribe {
		margin: 0;
	}
	#mc-embedded-subscribe {
		min-height: 10px;
	}
}
.form-block--searchandfilter {
	background-color: transparent;
	padding: 0;
	ul {
		width: 100%;
		margin: 0;
		padding: 0;
		li {
			display: block;
		}
	}
	input,
	select {
		.color-secondary;
		.bkg-color-white;
		.font-weight400;
		width: 100%;
		line-height: 40px;
		min-height: 40px;
		font-size: 14px;
		padding: 0 10px;
		margin-bottom: 8px;
		border: none;
		border: 1px solid @gray-border;		
	}
}

@media (max-width:@screen-xs-max) {
	.form-block {
		// CONTACT FORM SEVEN
		.wpcf7-list-item {
			width: 100%;
		    margin: 0 10px 0 0;
		    float: left;
		}
	}
	.form-block--nav-search {
		display: none;
	}
	.form-block--newsletter {
		margin-bottom: 20px;
	}
}

@media (min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
	.form-block--nav-search {
		display: none;
	}
}

@media (min-width:@screen-md-min) and (max-width:@screen-md-max) {
}

@media (min-width:@screen-lg-min) {
}

&[data-useragent*='Firefox']
{
	body
	{

	}
}
&[data-useragent*='rv:11.0']
{
	body
	{

	}
}
// IE10 cross-browser development
&[data-useragent*='MSIE 10.0'] 
{
	body
	{
		
	}
}