// MODULE

// HOMEPAGE OUR SERVICES
.call-overlay {
	.transition-fade;
	position: relative;
	// height: 300px;
	min-height: 300px;
	padding: 50px;
	background-size: cover;
	background-position: center;
	display: flex;
	&:hover {
		.call-overlay--reveal {
			display: block;
			// width: 100%;
			// height: 100%;
		}
		.call-overlay--opacity {
			background-color: #2C296E;
		}
	}
	.call-overlay--link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
	}
	.call-overlay--inner {
		margin: auto;
		width: 100%;
		// height: 300px;
		// height: 100%;
		text-align: center;
		position: relative;
		z-index: 2;
	}
	.call-overlay--reveal {
		.transition-fade;
		display: none;
		&:after {
			margin-top: 20px;
			position: relative;
			display: block;
			content: url('../../dist/images/2px_arrow_right_white.png');
			// position: relative;
		 //    display: block;
		 //    margin-top: 20px;
		 //    font-family: 'Glyphicons Halflings';
		 //    font-style: normal;
		 //    -webkit-font-smoothing: antialiased;
		 //    font-size: 24px;
		 //    content: "\e258";
		}
	}
	.call-overlay--opacity {
		content: '';
		background-color: #4B4B4B;
		opacity: 0.5;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

// MODIFIERS

// PRINT STYLES
@media print {
	// HOMEPAGE OUR SERVICES
	.call-overlay {
		min-height: 10px;
		padding: 0;
		display: block;
		.call-overlay--link {
			display: none;
		}
		.call-overlay--reveal {
			display: block;
			&:after {
				display: none;
			}
		}
		.call-overlay--inner {
		    text-align: left;
		    margin: 0;
		}
	}
}

@media (max-width:@screen-xs-max) {
	// HOMEPAGE OUR SERVICES
	.call-overlay {
		margin-bottom: 8%;
		.transition-fade;
		.call-overlay--reveal {
			display: block;
		}
		.call-overlay--opacity {
			background-color: #2C296E;
		}
	}
}

@media (min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
	// HOMEPAGE OUR SERVICES
	.call-overlay {
		margin-bottom: 8%;
		min-height: 350px;
		.transition-fade;
		.call-overlay--reveal {
			display: block;
		}
		.call-overlay--opacity {
			background-color: #2C296E;
		}
	}

}

@media (min-width:@screen-md-min) and (max-width:@screen-md-max) {
}

@media (min-width:@screen-lg-min) {
}

&[data-useragent*='Firefox']
{
}

&[data-useragent*='rv:11.0']
{
}

// IE10 cross-browser development
&[data-useragent*='MSIE 10.0'] 
{
	.call-overlay {
		height: 300px;
	}
}
