// MODULE

// COLOURS
.color-primary {
	color: @brand-primary;
}
.color-secondary {
	color: @brand-secondary;
}
.color-white {
	color: @gray-white;
	.heading-keyline {
		border-color: @gray-white;
	}
}
.color-gray {
	color: @gray-gray;
	.heading-keyline {
		border-color: @gray-white;
	}
}
.color-black {
	color: @gray-black;
	.heading-keyline {
		border-color: @gray-white;
	}
}

// BACKGROUND COLOURS
.bkg-color-primary {
	background-color: @brand-primary;
}
.bkg-color-secondary {
	background-color: @brand-secondary;
}
.bkg-color-white {
	background-color: @gray-white;
}
.bkg-color-gray {
	background-color: @gray-gray;
}


// BUTTON ANIMATION
.transition-fade {
	transition: all 0.3s ease 0s;
}

// FONT WEIGHTS
.font-weight300 {
	font-weight: @font-weight-300;
}
.font-weight400 {
	font-weight: @font-weight-400;
	em {
		font-weight: @font-weight-400i;
	}
}
.font-weight700 {
	font-weight: @font-weight-700;
}

// DASH LIST
.dashed {
	padding-left: 16px;
	margin: 0 0 20px 0;
	list-style-type: none;
	li {
	  text-indent: -16px;
	  margin-bottom: 5px;
	  	&:before {
		    content: "-";
		    text-indent: -10px;
		    padding-right: 10px;
		    .color-primary;
		}
	}
}

// TRIANGLES
.triangles {
	&:after {
		content: '';
		position: absolute;
		height: 100%;
	}
}
.origin-tl {
	-webkit-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
	top: 0;
	left: 0;
}
.origin-tr {
	-webkit-transform-origin: top right;
	-ms-transform-origin: top right;
	transform-origin: top right;
	top: 0;
	right: 0;
}
.origin-bl {
	-webkit-transform-origin: bottom left;
	-ms-transform-origin: bottom left;
	transform-origin: bottom left;
	bottom: 0;
	left: 0;
}
.origin-br {
	-webkit-transform-origin: bottom right;
	-ms-transform-origin: bottom right;
	transform-origin: bottom right;
	bottom: 0;
	right: 0;
}

// MODIFIERS

@media (max-width:@screen-xs-max) {
}

@media (min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
}

@media (min-width:@screen-md-min) and (max-width:@screen-md-max) {
}

@media (min-width:@screen-lg-min) {
}

&[data-useragent*='Firefox']
{
	body
	{

	}
}
&[data-useragent*='rv:11.0']
{
	body
	{

	}
}
// IE10 cross-browser development
&[data-useragent*='MSIE 10.0'] 
{
	body
	{
		
	}
}