// MODULE
#header-wrap {
	position: relative;

	// TOGGLE
	.navigation-block__toggle {
		position: absolute;
		top: 25px;
		right: 15px;
		border: none;
		background: transparent;
		margin: 0;
		padding: 0;
		&:hover {
			background: transparent;
		}
		.icon-bar {
			background-color: @brand-secondary;
			width: 36px;
		    height: 4px;
		    margin: 6px;
			transition: all 0.2s;
		}
		.top-bar {
			transform: rotate(45deg);
			transform-origin: 10% 10%;
		}
		.middle-bar {
			opacity: 0;
		}
		.bottom-bar {
			transform: rotate(-45deg);
			transform-origin: 10% 90%;
		}
		&.collapsed {
			.top-bar {
				transform: rotate(0);      
			}
			.middle-bar {
				opacity: 1;
			}
			.bottom-bar {
				transform: rotate(0);
			}
		}
	}

	.navigation-block {
		padding: 0;
		margin: 0;
		border-radius: 0;
		border:0;
		background-color: @gray-white;
	}

	// MEGAMENU
	.container-custom {
		margin: auto;
    	padding: 20px 0;
    	max-width: 1140px;
    	min-height: 110px;

    	.navigation-block__head {
		    float: left;
		}

		.navigation-block__nav {
			float: right;

			.navigation-block__collapse {
				padding-left: 0;
				padding-right: 0;
				float: left;
			}

			.menu-item--contact-details {
				text-align: right;
				.color-secondary;
				a {
					.on {
						display: none;
					}
					.out {
						display: inline-block;
					}
					&:hover {
						.on {
							display: inline-block;
						}
						.out {
							display: none;
						}
					}
				}
			}

			// NAVIGATION
			.menu-item--level-0 {
				&.current_page_item,
				&.current-menu-ancestor {
					a {
						color: @brand-primary;
					}
				}
				&.menu-open {
					a {
						color: @brand-primary;
						&:after {
							content: '';
						    position: absolute;
						    text-align: center;
						    width: 100%;
						    left: 40%;
						    width: 0px;
						    height: 0px;
						    border-left: 10px solid transparent;
						    border-right: 10px solid transparent;
						    border-bottom: 10px solid #114372;
						    bottom: -2px;
						}
					}
					> .dropdown-menu {
						display: block;
						a {
							&:after {
								display: none;
							}
						}
					}
				}
				a {
					padding-top: 7px;
					font-size: 15px;
					color: @brand-secondary;
					background-color: transparent;
					.caret {
						display: none;
					}
					&:hover {
						color: @brand-primary;
					}
				}
				&.nav-megamenu__trigger {
					a {
						font-size:0;
						padding: 6px 5px 5px 5px;
						background-image:url('../../dist/images/search-secondary.png');
						background-repeat: no-repeat;
						background-position: center; 
						height: 30px;
						width: 30px;
						display:block;
						border-radius: 2px;
						&:after {
							display: none;
						}
						&:hover {
							background-image:url('../../dist/images/search-primary.png');
							// background-color: @brand-secondary;
						}
					}
					&.menu-open {
						a {
							background-image:url('../../dist/images/search-primary.png');
							// background-color: @brand-secondary;
						}
					}
				}
			}

			// MEGAMENU
			.nav-megamenu {
				// MAIN NAVIGATION
				position: static;
				ul {
					border: 0;
					margin: 0;
					padding: 0;
					list-style: none;
					width: 100%;
				}

				// SUB NAVIGATION
				.nav-megamenu__menu {
					float: left;
					width: 75%;
					min-height: 400px;
					background-color: @gray-white;
					// &:after {
					// 	content: '';
					// 	height: 60px;
					// 	width: 50%;
					// 	background-color: @brand-secondary;
					// 	position: absolute;
					// 	top: 0;
					// 	left: 0;
					// 	display: inherit;
					// 	z-index: -20;
					// }
					.menu-item--level-1 {
						ul {
							display: block;
						    position: relative;
						    box-shadow: none;
						    border: none;
						    background: transparent;
							border-radius: 0;
						    a {
						    	.transition-fade;
						    	font-size: 13px;
						    	padding: 5px 0;
							    white-space: normal;
								color: @brand-secondary;
								&:hover {
									color: @brand-primary;
									background-color: transparent;
								}
						    }
						}
					}
				}

				// FULL WIDTH OVERVIEW LINK
				.nav-megamenu__overview {
					float: left;
					width: 100%;
					background-color: @brand-secondary;
					min-height: 60px;
					// BLEED TO THE LEFT
					&:after {
						content: '';
						min-height: 60px;
						width: 100%;
						background-color: @brand-secondary;
						position: absolute;
						top: 0;
						left: 0;
						display: inherit;
						z-index: -20;
					}
					&.menu-item--level-1 {
						a {
							.transition-fade;
							font-size: 18px;
							min-height: 60px;
							line-height: 60px;
							color: @gray-white;
							// &:after {
							// 	content: "\e258";
							// 	font-family: 'Glyphicons Halflings';
							//     font-style: normal;
							//     -webkit-font-smoothing: antialiased;
							//     font-size: 14px;
							//     color: @white;
							//     margin-left: 20px;
							// }
							&:hover {
								opacity: 0.7;
							}
						}
					}
				}

				// COLUMN
				.nav-megamenu__column {
					float: left;
					width: 25%;
					&.menu-item--level-1 {
						padding: 20px 15px 20px 0;
						a {
							.transition-fade;
							display: block;
							padding-bottom: 10px;
							font-size: 16px;
							color: @brand-primary;
							&:hover {
								color: @brand-secondary;
							}
						}
						.menu-item--level-2 {
							padding: 0;
							&.current_page_item,
							&.active {
								a {
									color: @brand-primary;
								}
							}
						}
					}
				}

				// CLASS APPLIED TO LAST IN THE LIST
				.nav-megamenu__last {
					float: left;
					width: 100%;
					ul {
						li {
							display: inline-block;
							width: 25%;
						}
					}
				}

				// HIGHLIGHT BLOCK
				.nav-megamenu__highlight {
					float: left;
					width: 25%;
					max-height: 400px;

					.nav-megamenu__inner {
						padding: 20px;
						z-index: 10;
						&:after {
							content: '';
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 0 260px 260px;
							border-color: transparent transparent #000000 transparent;
							position: absolute;
							right: 0;
							bottom: 0;
							opacity: 0.1;
							z-index: -1;
						}
					}

					.btn-menu {
						.btn-theme;
						.btn-theme--white;
					}

					// BLEED TO THE RIGHT
					&:after {
						content: '';
						height: 100%;
						width: 50%;
						background-color: @brand-primary;
						position: absolute;
						top: 0;
						right: 0;
						display: inherit;
						z-index: -10;
					}
				}
			}
		}
	}
}

// .navigation-block {
// 	.navigation-block__head {
// 		.navbar-toggle {
// 		    // margin-top: 0;
// 		    // margin-bottom: 0;
// 		    // background-color: @brand-primary;
// 		    // border-radius: 2px;
// 		    //position: absolute;
// 		    // right: -15px;
// 		    // padding: 10px 8px;
// 		    .icon-bar {
// 		    	// background-color: @brand-primary;
// 		    }
// 		}
// 	}
// 	.navigation-block__nav {
// 		.menu {
// 			.clearfix();
// 		}
// 	}
// }

@media (max-width:@screen-xs-max) {
	#header-wrap {

		// MEGAMENU
		.container-custom {
	    	padding: 0;

	    	.navigation-block__head {
	    		padding: 15px;
			}

			.navigation-block__nav {
				float: none;

				.navigation-block__collapse {
					width: 100%;
					padding-left: 0;
					padding-right: 0;
					// overflow-y: visible;
					float: left;
					.navigation-block {
						width: 100%;
					}
				}

				.menu-item--contact-details {
					text-align: left;
				    clear: both;
				    padding-left: 15px;
				}

				// NAVIGATION
				.menu-item--level-0 {
					border-bottom: 1px solid #e5e5e5;
					&.menu-open {
						a {
							&:after {
								display: none;
							}
						}
						> .dropdown-menu {
							position: relative;
	    					box-shadow: none;
	    					float: none;
						}
					}
					.container {
						width: 100%;
						padding: 0;
					}
					a {
						font-size: 15px;
						color: @brand-secondary;
						background-color: transparent;
						padding: 15px;
					}
					&.nav-megamenu__trigger {
						display: none;
					}
					&.open {
						a {
							color: @brand-primary;
						}
					}
				}

				// MEGAMENU
				.nav-megamenu {
					// MAIN NAVIGATION
					position: relative;
					// &:first-child {
					// 	border-top: 1px solid #e5e5e5;
					// }

					// SUB NAVIGATION
					.nav-megamenu__menu {
						border-top: 1px solid #e5e5e5;
						width: 100%;
						min-height: 10px;
						&:after {
							display: none;
						}
						
						.menu-item--level-1 {
							ul {

							    a {
							    	font-size: 13px;
							    	padding: 5px 0;
								    white-space: normal;
									color: @brand-primary;
									&:hover {
										background-color: transparent;
									}
							    }
							}
						}
					}

					// FULL WIDTH OVERVIEW LINK
					.nav-megamenu__overview {
						width: 100%;
						background-color: @brand-secondary;
						&.menu-item--level-1 {
							a {
								font-size: 15px;
								color: @gray-white;
								&:after {
									float: right;
    								margin-right: 15px;
								}
							}
						}
					}

					// COLUMN
					.nav-megamenu__column {
						width: 100%;
						&.menu-item--level-1 {
							padding: 0;
							a {
								display: block;
								padding-bottom: 10px;
								font-size: 15px;
								color: @brand-primary;
								background-color: @gray-gray;
								border-bottom: 1px solid #e8e8e8;
								&:after {
									float: right;
    								content: "\e258";
									font-family: 'Glyphicons Halflings';
								    font-style: normal;
								    -webkit-font-smoothing: antialiased;
								    font-size: 14px;
								    color: @brand-primary;
								    margin-left: 20px;
								}
							}
							ul {
								margin: 10px 0;
							}
							.menu-item--level-2 {
								a {
									color: @brand-secondary;
									padding: 2px 15px;
									background-color: transparent;
									border-bottom: none;
									&:after {
										display: none;
									}
								}
							}
						}
					}

					// CLASS APPLIED TO LAST IN THE LIST
					.nav-megamenu__last {
						ul {
							li {
								display: block;
								width: 100%;
							}
						}
					}

					// HIGHLIGHT BLOCK
					.nav-megamenu__highlight {
						display: none;
					}
				}
			}
		}
	}
}

@media (min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
	#header-wrap {

		// MEGAMENU
		.container-custom {
	    	padding: 0;

	    	.navigation-block__head {
	    		padding: 15px;
			}

			.navigation-block__nav {
				float: none;

				.navigation-block__collapse {
					width: 100%;
					padding: 0;
					// overflow-y: visible;
					float: left;
					.navigation-block {
						width: 100%;
					}
				}

				.menu-item--contact-details {
					text-align: left;
				    clear: both;
				    padding-left: 15px;
				}

				// NAVIGATION
				.menu-item--level-0 {
					border-bottom: 1px solid #e5e5e5;
					&.menu-open {
						a {
							&:after {
								display: none;
							}
						}
						> .dropdown-menu {
							position: relative;
	    					box-shadow: none;
	    					float: none;
						}
					}
					.container {
						width: 100%;
						padding: 0;
					}
					a {
						font-size: 15px;
						color: @brand-secondary;
						background-color: transparent;
						padding: 15px;
					}
					&.nav-megamenu__trigger {
						display: none;
					}
					&.open {
						a {
							color: @brand-primary;
						}
					}
				}

				// MEGAMENU
				.nav-megamenu {
					// MAIN NAVIGATION
					position: relative;
					// &:first-child {
					// 	border-top: 1px solid #e5e5e5;
					// }

					// SUB NAVIGATION
					.nav-megamenu__menu {
						border-top: 1px solid #e5e5e5;
						width: 100%;
						min-height: 10px;
						&:after {
							display: none;
						}
						
						.menu-item--level-1 {
							ul {

							    a {
							    	font-size: 13px;
							    	padding: 5px 0;
								    white-space: normal;
									color: @brand-primary;
									&:hover {
										background-color: transparent;
									}
							    }
							}
						}
					}

					// FULL WIDTH OVERVIEW LINK
					.nav-megamenu__overview {
						width: 100%;
						background-color: @brand-secondary;
						&.menu-item--level-1 {
							a {
								font-size: 15px;
								color: @gray-white;
								&:after {
									float: right;
    								margin-right: 15px;
								}
							}
						}
					}

					// COLUMN
					.nav-megamenu__column {
						width: 100%;
						&.menu-item--level-1 {
							padding: 0;
							a {
								display: block;
								padding-bottom: 10px;
								font-size: 15px;
								color: @brand-primary;
								background-color: @gray-gray;
								border-bottom: 1px solid #e8e8e8;
								&:after {
									float: right;
    								content: "\e258";
									font-family: 'Glyphicons Halflings';
								    font-style: normal;
								    -webkit-font-smoothing: antialiased;
								    font-size: 14px;
								    color: @brand-primary;
								    margin-left: 20px;
								}
							}
							ul {
								margin: 10px 0;
							}
							.menu-item--level-2 {
								a {
									color: @brand-secondary;
									padding: 2px 15px;
									background-color: transparent;
									border-bottom: none;
									&:after {
										display: none;
									}
								}
							}
						}
					}

					// CLASS APPLIED TO LAST IN THE LIST
					.nav-megamenu__last {
						ul {
							li {
								display: block;
								width: 100%;
							}
						}
					}

					// HIGHLIGHT BLOCK
					.nav-megamenu__highlight {
						display: none;
					}
				}
			}
		}
	}
}

@media (min-width:@screen-md-min) and (max-width:@screen-md-max) {
	// MODULE
	#header-wrap {
		position: relative;
		// MEGAMENU
		.container-custom {
	    	max-width: 970px;
	    }
	}

}

@media (min-width:@screen-lg-min) {

}

&[data-useragent*='Firefox']
{
	body
	{

	}
}
&[data-useragent*='rv:11.0']
{
	body
	{

	}
}
// IE10 cross-browser development
&[data-useragent*='MSIE 10.0'] 
{
	body
	{
		
	}
}