// MODULE
.section {
	// padding: 40px 0;
	// border-bottom: 1px solid #cccccc;
}

// MODIFIERS

// BREADCRUMB
.section--breadcrumb {
	.bkg-color-gray;
	padding: 10px 0;
	#breadcrumbs {
		.color-secondary;
		.font-weight300;
		margin: 0;
	}
}

// OVERLAY
.section--overlay {
	position: relative;
	background-size: 100%;
	background-position: center;
	display: flex;
	.container {
		margin: auto;
		height: 100%;
		position: relative;
		z-index: 2;
	}
	.overlay--opacity {
		content: '';
		// background-color: #ff00ff;
		opacity: 0.5;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

// THE PROVEK WAY
.section--overlay--graphic {
	.container {
		background: url('../../dist/images/provek-way.png') 0 0 no-repeat;
	}
	.overlay--opacity {
		content: '';
		background-color: #2C296E;
		opacity: 0.5;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

// TRIANGLES 
.section--triangles {
	position: relative;
    min-height: 680px; //ANDY F AGREED THAT THIS WILL ENSURE IF AN IMAGE IS PRESENT, IT WILL BE SHOWN
    width: 100%;
    overflow: hidden;
    // display: inline-block;
    //background-clip: content-box;
    .container,
    .row {
    	position: relative;
    	z-index: 10;
    }
}

// EXPERT
.section--expert {
	min-height: 20px;
	position: relative;
	background: url('../../dist/images/provek_imagery_speak_cta.png') no-repeat;
	background-size: cover;
	background-position: right;
	h3 {
		.font-weight700;
	}
	p {
		.heading-h5;
	}
	&:before {
		content: '';
		height: 100%;
		width: 50%;
		background-color: @brand-primary;
		position: absolute;
		top: 0;
		left: 0;
		display: inherit;
	}
	.base-left {
		&:after {
	        -webkit-transform: skewX(36deg);
	        -ms-transform: skewX(36deg);
	        transform: skewX(36deg);
		}
		&.xlrg {
			&:after {
				width: 75%;
			}
		}
	}
	.base-right {
		&:after {
			-webkit-transform: skewX(-45deg);
	        -ms-transform: skewX(-45deg);
        	transform: skewX(-45deg);
        }
		&.lrg {
			&:after {
				width: 38%;
			}
		}
	}
}

// MODIFIERS
.section--triangles--auto {
	min-height: 20px;
}

@media (max-width:@screen-xs-max) {
	// TRIANGLES 
	.section--triangles {
	    min-height: 10px; 
	}

	// THE PROVEK WAY
	.section--overlay--graphic {
		.container {
			background: none;
		}
	}

	// EXPERT
	.section--expert {
		&:before {
			width: 100%;
		}
	}
}

@media (min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
	// TRIANGLES 
	.section--triangles {
	    min-height: 400px; 
	}

	// EXPERT
	.section--expert {
		&:before {
			width: 100%;
		}
	}
}

@media (min-width:@screen-md-min) and (max-width:@screen-md-max) {
	// EXPERT
	.section--expert {
		.base-left {
			&:after {
		        -webkit-transform: skewX(39deg);
		        -ms-transform: skewX(39deg);
		        transform: skewX(39deg);
			}
			&.xlrg {
				&:after {
					width: 82%;
				}
			}
		}
		.base-right {
			&:after {
				-webkit-transform: skewX(-45deg);
		        -ms-transform: skewX(-45deg);
	        	transform: skewX(-45deg);
	        }
			&.lrg {
				&:after {
					width: 38%;
				}
			}
		}
	}
}

@media (min-width:@screen-lg-min) {
}

&[data-useragent*='Firefox']
{
body
	{

	}
}
&[data-useragent*='rv:11.0']
{
	body
	{

	}
}
// IE10 cross-browser development
&[data-useragent*='MSIE 10.0'] 
{
body
	{
		
	}
}
