// MODULE
.table-row {
	float: left;
    width: 100%;
    display: flex;
    a {
    	.link-theme;
		.color-primary;
		text-decoration: underline;
    }
	&:first-child {
		border-top: 1px solid @gray-gray;
	}
	.table-row__first,
	.table-row__last {
		min-height: 100%;
		padding: 10px 15px;
		// display: table-cell;
	}
	.table-row__first {
		.font-weight700;
		.color-secondary;
		float: left;
		width: 30%;
		border-bottom: 1px solid @gray-white;
		background-color: @gray-gray;
	}
	.table-row__last {
		float: right;
		width: 70%;
		border-bottom: 1px solid @gray-gray;
	}
}

// MODIFIERS


// PRINT STYLES
@media print {
	.table-row {
		padding: 5px 0;
		.table-row__first,
		.table-row__last {
			padding: 0;
		}
	}
}

@media (max-width:@screen-xs-max) {
	.table-row {
		display: block;
		float: left;
		.table-row__first {
			float: left;
			width: 100%;
		}
		.table-row__last {
			float: left;
			width: 100%;
		}
	}
}

@media (min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
}

@media (min-width:@screen-md-min) and (max-width:@screen-md-max) {
}

@media (min-width:@screen-lg-min) {
}

&[data-useragent*='Firefox']
{
	body
	{

	}
}
&[data-useragent*='rv:11.0']
{
	body
	{

	}
}
// IE10 cross-browser development
&[data-useragent*='MSIE 10.0'] 
{
	body
	{
		
	}
}