// MODULE
.top-left,
.top-right,
.base-left,
.base-right {
	&.xsml {
		&:after {
			width: 6%;
		}
	}
	&.sml {
		&:after {
			width: 10%;
		}
	}
	&.med {
		&:after {
			width: 25%;
		}
	}
	&.med-carousel {
		&:after {
			width: 25%;    
			// width: 28%;
		}
	}
	&.lrg {
		&:after {
			width: 40%;
		}
	}
	&.xlrg {
		&:after {
			width: 75%;
		}
	}
	// &.full { //ANDY F CONFIRMED THAT THIS IS NOT ACEPTABLE AS IT OBSCURES THE IMAGE
	// 	&:after {
	// 		width: 90%;
	// 	}
	// }
	&.primary {
		&:after {
			background-color: @brand-primary;
		}
	}
	&.secondary {
		&:after {
			background-color: @brand-secondary;
		}
	}
	&.white {
		&:after {
			background-color: @gray-white;
		}
	}
	&.gray {
		&:after {
			//opacity: 0.8; // UNIQUE TO TRIANGLES
			background-color: @gray-gray;
		}
	}
	&.black {
		&:after {
			background-color: @gray-black;
		}
	}
	&.opacity1 {
		&:after {
			opacity: 0.1;
		}
	}
	&.opacity3 {
		&:after {
			opacity: 0.3;
		}
	}
	&.zindex-1 {
		&:after {
			z-index: -1;
		}
	}
	&.zindex0 {
		&:after {
			z-index: 0;
		}
	}
	&.zindex1 {
		&:after {
			z-index: 1;
		}
	}
	&.zindex3 {
		&:after {
			z-index: 3;
		}
	}
	&.zindex5 {
		&:after {
			z-index: 5;
		}
	}
}

.top-left {
	&:after {
		.triangles;
		.origin-tl;
        -webkit-transform: skewX(-50deg);
        -ms-transform: skewX(-50deg);
        transform: skewX(-50deg);
	}
}

.top-right {
	&:after {
		.triangles;
		.origin-tr;
		-webkit-transform: skewX(50deg);
        -ms-transform: skewX(50deg);
        transform: skewX(50deg);
	}
}

.base-left {
	&:after {
		.triangles;
		.origin-bl;
        -webkit-transform: skewX(50deg);
        -ms-transform: skewX(50deg);
        transform: skewX(50deg);
	}
}

.base-right {
	&:after {
		.triangles;
		.origin-br;
		-webkit-transform: skewX(-50deg);
        -ms-transform: skewX(-50deg);
        transform: skewX(-50deg);
	}
}

// .base-full { //ANDY F CONFIRMED THAT THIS IS NOT ACEPTABLE AS IT OBSCURES THE IMAGE
// 	&:after {
// 		.triangles;
// 		.origin-br;
// 		-webkit-transform: skewX(-72deg);
//         -ms-transform: skewX(-72deg);
//         transform: skewX(-72deg);
// 	}
// }

.top-right--img {
	.origin-tr;
	overflow: hidden;
	position: absolute;
	width: 20%; //width: 20%;
	height: 100%; //height: 55%;
	z-index: 1;
	-webkit-transform: skewX(50deg);
	-ms-transform: skewX(50deg);
	transform: skewX(50deg);
	.top-right--img--bkd {
		.origin-tr;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1; 
		-webkit-transform: skewX(-50deg);
		-ms-transform: skewX(-50deg);
		transform: skewX(-50deg);
	}
}

.top-video--img {
	min-height:380px;
	display: flex;
}

// MODIFIERS


// PRINT STYLES
@media print {
	.top-video--img {
		display: none;
	}
}

@media (max-width:@screen-xs-max) {
	// MODULE
	.base-left {
		display: none;
	}
	.top-left,
	.top-right,
	.base-left,
	.base-right {
		&.xsml {
			&:after {
				width: 16%;
			}
		}
		&.sml {
			&:after {
				width: 30%;
			}
		}
		&.med {
			&:after {
				width: 45%;
			}
		}
		&.med-carousel {
			&:after {    
				width: 52.6%;
			}
		}
		&.lrg {
			&:after {
				width: 70%;
			}
		}
		&.xlrg {
			&:after {
				width: 95%;
			}
		}
	}
	.top-right--img {
	.origin-tr;
		width: 40%;
	}

	.top-video--img {
		min-height:280px;
	}
}

@media (min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
	// MODULE
	.top-left,
	.top-right,
	.base-left,
	.base-right {
		&.xsml {
			&:after {
				width: 16%;
			}
		}
		&.sml {
			&:after {
				width: 30%;
			}
		}
		&.med {
			&:after {
				width: 45%;
			}
		}
		&.med-carousel {
			&:after {    
				width: 52.6%;
			}
		}
		&.lrg {
			&:after {
				width: 70%;
			}
		}
		&.xlrg {
			&:after {
				width: 95%;
			}
		}
	}
	.top-right--img {
	.origin-tr;
		width: 30%;
	}
}

@media (min-width:@screen-md-min) and (max-width:@screen-md-max) {
	.top-left,
	.top-right,
	.base-left,
	.base-right {
		&.xsml {
			&:after {
				width: 10%;
			}
		}
		&.sml {
			&:after {
				width: 14%;
			}
		}
		&.med {
			&:after {
				width: 29%;
			}
		}
		&.med-carousel {
			&:after {    
				width: 36.6%;
			}
		}
		&.lrg {
			&:after {
				width: 44%;
			}
		}
		&.xlrg {
			&:after {
				width: 79%;
			}
		}
	}
	.top-right--img {
	.origin-tr;
		width: 30%;
	}
}

@media (min-width:@screen-lg-min) {
}

&[data-useragent*='Firefox']
{
	body
	{

	}
}
&[data-useragent*='rv:11.0']
{
	body
	{

	}
}
// IE10 cross-browser development
&[data-useragent*='MSIE 10.0'] 
{
	body
	{
		
	}
}