// MODULE
.heading-h1,
.heading-h2,
.heading-h3,
.heading-h4,
.heading-h5,
.heading-h6,
.heading-h7 {
	&:first-child {
		margin-top: 0;
	}
}

// TYPOGRAPHY
// h1 {
// 	margin-top: 70px;
// }
// .home {
// 	h1 {
// 		margin-top: 0;
// 	}
// }
.heading-h1 {
	font-size: 60px;
	line-height: 65px;
	letter-spacing: -0.8px;
	font-family: @font-family;
	font-weight: @font-weight-700;
}
.heading-h2 {
	.font-weight700;
	font-size: 28px;
	line-height: 33px;
	letter-spacing: -0.8px;
	font-family: @font-family;
}
.heading-h3 {
	.font-weight700;
	font-size: 35px;
	line-height: 40px;
	letter-spacing: -0.8px;
	font-family: @font-family;
}
.heading-h4 {
	margin-top: 0; //TEMP!
	margin-bottom: 1em;  //TEMP!
	.font-weight700;
	font-size: 22px;
	line-height: 27px;
	font-family: @font-family;
	span {
		.font-weight400;
	}
}
.heading-h5 {
	.font-weight400;
	font-size: 18px;
	line-height: 26px;
	font-family: @font-family;
}
.heading-h6 {
	.font-weight300;
	font-size: 18px;
	line-height: 26px;
	font-family: @font-family;
}
.heading-h7 {
	.font-weight700;
	font-size: 16px;
	line-height: 21px;
	font-family: @font-family;
}

p {
	.font-weight400;
	font-size: 14px;
	line-height: 18px;
	font-family: @font-family;
	margin: 0 0 20px 0;
	strong {
		.font-weight700;
	}
}

a {
	color: inherit;
}

ul, ol {
	li {
		.font-weight400;
		font-size: 14px;
		line-height: 18px;
		font-family: @font-family;
	}
}

// MODIFIERS
.heading-keyline {
	display: inline-block;
 	padding-bottom: 0.3em;
	border-bottom: 1px solid @brand-primary;
	margin-top: 1.8em;
	margin-bottom: 1em;
}

@media (max-width:@screen-xs-max) {
	.heading-h1,
	.heading-h2,
	.heading-h3,
	.heading-h4,
	.heading-h5,
	.heading-h6,
	.heading-h7 {
		margin-bottom: 1em;
	}
	// MODULE
	.heading-h6 {
		&:first-child {
			margin-top: 0.8em;
		}
	}
	// .heading-h4,
	// .heading-h5,
	// .heading-h6,
	// .heading-h7 {
	// 	&:first-child {
	// 		margin-top: 0.8em;
	// 	}
	// }

	// TYPOGRAPHY
	.heading-h1 {
		font-size: 30px;
		line-height: 35px;
	}
	.heading-h2 {
		.font-weight700;
		font-size: 24px;
		line-height: 29px;
	}
	.heading-h3 {
		.font-weight700;
		font-size: 25px;
		line-height: 30px;
	}
	.heading-h4 {
		margin-top: 0; //TEMP!
		margin-bottom: 1em;  //TEMP!
		font-size: 20px;
		line-height: 25px;
	}
	.heading-h5 {
		.font-weight400;
		font-size: 16px;
		line-height: 24px;
	}
	.heading-h6 {
		.font-weight300;
		font-size: 16px;
		line-height: 24px;
	}
	.heading-h7 {
		.font-weight700;
		font-size: 14px;
		line-height: 19px;
	}
}

@media (min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
}

@media (min-width:@screen-md-min) and (max-width:@screen-md-max) {
}

@media (min-width:@screen-lg-min) {
}

&[data-useragent*='Firefox']
{
body
	{

	}
}
&[data-useragent*='rv:11.0']
{
	body
	{

	}
}
// IE10 cross-browser development
&[data-useragent*='MSIE 10.0'] 
{
body
	{
		
	}
}
