// MODULE
.content {
	// .pt-sm;
	h1, h2, h3, h4 {
		.heading-h6;
		.heading-keyline;
		.color-secondary;
		display: table;
	}
	a {
		.link-theme;
		.color-primary;
		text-decoration: underline;
	}
	ul {
		.dashed;
	}
	img {
		max-width: 100%;
		height: auto;
	}
}

// MODIFIERS

@media (max-width:@screen-xs-max) {
}

@media (min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
}

@media (min-width:@screen-md-min) and (max-width:@screen-md-max) {
}

@media (min-width:@screen-lg-min) {
}

&[data-useragent*='Firefox']
{
	body
	{

	}
}
&[data-useragent*='rv:11.0']
{
	body
	{

	}
}
// IE10 cross-browser development
&[data-useragent*='MSIE 10.0'] 
{
	body
	{
		
	}
}